@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #f7f7f7;
}

.ui-toolbar{
    background-color: #142957 !important;    
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    color: white;

}

.botonMenuHome .pi:before{
    font-size: 20px !important;
}

.botonMenuHome{
    width: 30px !important;
    margin-right: 15px !important;
    background-color: #142957 !important;
    border: none !important;
    color: azure !important;
}

.botonMenuHome .ui-button:focus, .ui-button:active {
    outline: none !important;  /* Elimina el borde azul */
    box-shadow: none !important;  /* Elimina el efecto de sombra */
}

.botonMenu{
    width: 30px !important;
    margin-right: 15px !important;
    background-color: #142957 !important;
    border: none !important;
    color: azure !important;
}

#buscar {
    border-radius: 5px !important;
    border: none !important;
    width: 250px !important;
}

.logo {
    width: 210px !important;
    height: auto;
    margin: 0px;
    border: 0px;
} 

.linea {
    width: 1px;
    background-color: white;
    height: 40px;
    margin: 0 10px;
    display: inline-block;
}

.iconoUsuario {
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

.usuario-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
}

.nombreUsuario {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}

.rolUsuario {
    font-size: 12px;
    color: white;
    opacity: 0.8;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedorTitulo{
    display: block;
    margin: 0 auto;
    color: #142957;
    background: #f3f6f9;
}

.titulo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
}

.titulo i {
    background-color: #142957;
    padding: 20px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 29px;
    color: white;
}

.tituloSeccion {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #142957;
    padding: 0 10px;
}

.tituloSeccion .linea {
    flex-grow: 1;
    height: 1px;
    background-color: #d3d3d3;
    margin-left: 15px;
}

.panel .ui-panel-titlebar {
    background-color: #142957 !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 10px !important;
}

.panel .ui-panel-content {
    padding: 10px !important;
}

.contenedorInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contenedorInput {
    margin-bottom: 10px;
}

.tituloInput {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    margin-right: 12px;
    color: #142957;
    vertical-align: middle;
}

.tituloInput{
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    margin-left: 12px;
    vertical-align: middle;
}

.ui-selectonemenu 
{
    display: inline-block;
    width: 413px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    vertical-align: middle;
}

.ui-selectonemenu .ui-selectonemenu-label {
    line-height: 24px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    height: 100%;
    box-sizing: border-box;
    height: 100%;
}

.ui-input-icon-left {
    display: flex;
    align-items: center;
    flex: 3;
}

.longitud {
    width: 50%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}

.contenedorBoton{
    display: flex;
    justify-content: center;
}

.boton{
    background-color: #142957 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    height: 45px;
    width: 195px;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    margin-right: 20px !important;
    font-weight: 400;
    font-size: 15px !important;
}

.boton .ui-icon {
    font-size: 17px !important;
    margin-left: 4px;
}

.boton:hover {
    background-color: white !important;
    color: #04243c !important;
    border: 2px solid #04243c !important;
    height: 45px;
    width: 195px;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    margin-right: 20px !important;
    font-weight: 400;
    font-size: 15px !important;
}

.fecha .ui-datepicker-trigger {
    background-color: #142957 !important;
    border: 1px solid #142957 !important; 
}

.fecha .ui-datepicker-trigger .ui-icon {
    color: #ffffff !important;
}

.ui-datatable thead th {
    background: #142957 !important;
    text-align: center !important;
    font-weight: normal !important;
    padding: 10px 0 !important;
}

.ui-datatable th{
    text-align: center !important;
    color: white !important;
}

.ui-datatable td {
    text-align: center !important;
    color: black !important;
}

.ui-datatable .botonMenu {
    display: inline-block !important;
    margin: 0 5px !important;
    text-align: center !important;
}

.ui-datatable tbody td:last-child {
    text-align: center !important;
}


.contenedorCarga{
    display: flex;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
}

.ui-menu{
    width: 350px !important;
    top: 15% !important;
    left: 0 !important;
    height: 85% !important;
    background-color: #142957 !important;
    z-index: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.ui-menuitem-text{
    color: white !important;
}


.ui-menuitem-link:hover, .ui-menuitem {
    background-color: #142957 !important;
}

.ui-menuitem-icon {
    color: white !important;
}

.etiquetas{
    background-color: #142957 !important;
}

.etiquetas h3{
    color: #fab91d !important
}

.ui-divider-horizontal:before {
    display: block !important;
    width: 88% !important;
    left: 5% !important;
}

.ui-divider-horizontal{
    margin-top: 10px !important; 
    margin-bottom: 10px !important;     
}

.logout span{
    color: #F5004F !important;
}
